<?xml version="1.0"?>
<config>
	<global>
		<models>
			<jmtyler>
				<class>JMT_Core_Model</class>
				<resourceModel>jmtyler_resource</resourceModel>
			</jmtyler>
			<jmtyler_resource>
				<class>JMT_Core_Model_Resource</class>
			</jmtyler_resource>
		</models>
		<resources>
			<jmtyler_setup>
				<setup>
					<module>JMT_Core</module>
				</setup>
			</jmtyler_setup>
		</resources>
		<blocks>
			<jmtyler>
				<class>JMT_Core_Block</class>
			</jmtyler>
		</blocks>
		<helpers>
			<jmtyler>
				<class>JMT_Core_Helper</class>
			</jmtyler>
		</helpers>
	</global>
	<frontend>
		<!-- TODO: I'm not sure this module should have any user-facing bits.
		<routers>
			<jmtyler>
				<use>standard</use>
				<args>
					<module>JMT_Core</module>
					<frontName>jmtyler</frontName>
				</args>
			</jmtyler>
		</routers>
		<layout>
			<updates>
				<jmtyler>
					<file>jmtyler.xml</file>
				</jmtyler>
			</updates>
		</layout>
		-->
		<translate>
			<modules>
				<JMT_Core>
					<files>
						<default>JMT_Core.csv</default>
					</files>
				</JMT_Core>
			</modules>
		</translate>
	</frontend>
	<!-- TODO: I'm not sure this module should have any user-facing bits.
	<admin>
		<routers>
			<jmtyler>
				<use>admin</use>
				<args>
					<module>JMT_Core</module>
					<frontName>jmtyleradmin</frontName>
				</args>
			</jmtyler>
		</routers>
	</admin>
	<adminhtml>
		<layout>
			<updates>
				<jmtyler>
					<file>jmtyler.xml</file>
				</jmtyler>
			</updates>
		</layout>
	</adminhtml>
	-->
</config>
